/* Google Fonts CSS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* Global CSS */
*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: 'Roboto', sans-serif;
}
.container{
	width: 75%;
	margin: 0 auto;
	overflow: hidden;
}
.logo{
	width: 15%;
	float: left;
}
.logo img{
	width: 100%;
}
.menu{
	width: 75%;
	float: right;
	margin-top: 24px;
}
.menu ul{
	float: right;
}
.menu ul li{
	display: inline-block;
    padding-left: 25px;
    font-weight: 600; 
}
.menu ul li a{
	text-decoration: none;
	list-style: none;
	color: #7B7B7B;
	font-size: 17px;
	transition: 0.4s ease-in-out;
}
.menu ul li:last-child a{
	padding-right: 0;
}
.menu ul li a:hover{
	color: #BD233F;
}
.banner{
	background:url(../images/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.banner-text{
	width:40%;
	margin: 100px 0px;
}
.banner-text h1{
	font-size: 66px;
	color: white;
	padding-bottom: 50px;
}
.banner-text p{
	color: white;
	padding-bottom: 10px;
	font-size: 18px;
}
.banner button{
	background: #BD233F;
    width: 180px;
    height: 40px;
    font-size: 11px;
    border: none;
    color: white; 
    transition: 0.4s ease-in-out;
    margin-top: 10px;
}
.banner button:hover{
	cursor: pointer;
	background: #820113;
}
.works{
	padding: 70px 0px 30px 0px;
}
.first-part{
	text-align: center;
}
.first-part p{
	margin: 1% 16% 0% 16%;
	line-height: 23px;
	color: gray;
}
.second-part{
	padding-top: 70px;
}
.single-item{
	width: 33.33%;
	float: left;
	text-align: center;
}
.single-item p{
	margin: 0% 26%;
	font-size: 18px;
}
.learn-more{
	background: #f4f4f4;
	padding: 50px 0px 15px 0px;
}
.left-side{
	width: 40%;
	float: left;
}
.left-side h1{
	font-size: 30px;
    line-height: 40px;
}
.left-side p{
	color: gray;
    padding-top: 12px;
    line-height: 22px;
    font-size: 14px;
    margin-right: 80px;
}
.left-side button{
	background: #BD233F;
    width: 130px;
    height: 40px;
    font-size: 13px;
    border: none;
    color: white;
    transition: 0.4s ease-in-out;
    margin-top: 30px;
}
.left-side button:hover{
	cursor: pointer;
	background: #820113;
}
.right-side{
	width: 60%;
	float: right;
}
.right-side .iframe{
	padding-left: 35%;
}
.features{
	padding-top: 70px;
}
.feature-text{
	text-align: center;
}
.feature-text h1{
	padding-bottom: 15px;
}
.feature-text p{
	margin: 0% 23%;
	line-height: 23px;
	color: gray;
}	
.feature-box{
	margin-top: 35px;
}
.single-box{
	width: 30%;
    height: 260px;
    float: left;
    border: 1px solid #eee8e8;
    margin-right: 1.5%;
    margin-bottom: 22px;
    margin-left: 1.5%; 
    transition: 0.3s ease-in-out;
}
.single-box:hover{
	cursor: pointer;
	box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.3);
}
.single-box img{
	/*margin: 0 auto;*/
    display: block;
    margin-top: 34px;
    /*margin-bottom: 20px;*/
    margin: 34px auto 20px;
}
.single-box h1{
	text-align: center;
	padding-bottom: 12px;
}
.single-box p{
	text-align: center;
	margin: 0% 13%;
	color: gray;
	line-height: 25px;
}
.all-feature{
	background: white;
    width: 140px;
    height: 40px;
    font-size: 13px;
    border: 1px solid black;
    color: #BD233F;
    margin: 0 auto;
    display: block;
    transition: 0.4s ease-in-out;
    margin: 70px auto 20px ;

}
.all-feature:hover{
	cursor: pointer;
	color: white;
	background: #BD233F;
	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.4)
}
footer{
	background: #535D69;
}
.copyright{

}
.copyright p{
	color: white;
	text-align: center;
	padding: 12px 0px;
}